/*******************************/
/* 01 PAGE HEADER ALL PAGES 01 */
/*******************************/

.header {
  justify-content: space-between;
  background-color: rgba(7, 27, 69, 0.9);
  border-bottom: 1px solid #ffdd19;
  height: 5.6rem;
  padding: 0 4.8rem;
}

/**************************/
/* 02 NAVIGATION BAR 02   */
/**************************/
.myname-nav {
  font-size: 1.6rem;
  margin-right: 3.8rem;
}

.header-nav-list {
  list-style: none;
  gap: 3.8rem;
}

.header-nav-link:link,
.header-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fdf2f2;
  font-size: 1.6rem;
  font-weight: 500;

  /*Animation slows colour transition*/
  transition: all 0.5s;
}

.header-nav-link:hover,
.header-nav-link:active {
  color: #a00000;
}

/***********************/
/* 03 HERO SECTION 03  */
/***********************/
.container-main {
  padding: 0 4.8rem;
  margin: 15rem auto;
  width: 120rem;
}

.hero {
  display: grid;
  max-width: 100rem;
  grid-template-columns: 1fr 1.5fr 0.8fr 1fr;
  gap: 2.2rem;
  margin: 0 11rem;
}

.hero-text-box {
  height: 29rem;
  width: 36rem;
  margin-right: 2.4rem;
  white-space: nowrap;
  text-align: left;
}
.heading-primary {
  margin: 0rem 4.8rem 1rem;
  font-size: 8rem;
  line-height: 1.05;
  text-transform: uppercase;
}
.hero-job-title {
  font-size: 2.6rem;
  line-height: 1.6;
  margin: 0rem 4.8rem 1rem;
}

/* html links designed to look like and respond like a button*/
.button-box {
  margin: 0rem 4.8rem 1rem;
}

/* main image of the page with txt box */
.hero-img-box {
  position: relative;
  height: 29rem;
  width: 36rem;
  z-index: -1;
}

.hero-img-text {
  background-color: rgba(7, 27, 69, 0.9);
  padding: 5.2rem 0.14rem;
  font-size: 6rem;
  line-height: 1.05;
  text-transform: uppercase;
  color: rgba(255, 220, 25, 0.5);
  position: absolute;
  transform: translate(05%, 12%);
  z-index: -1;
}

.hero-img {
  width: 36rem;
  margin: 0rem 2rem 1rem 0rem;
  float: left;
  z-index: -1;
}
.slide-title {
  display: inline-block;
}
.slides {
  height: 28.7rem;
  width: 28.1rem;
  margin-left: 0;
}
.slider-title {
  width: 5rem;
  height: 4rem;
  background-color: rgba(7, 27, 69, 0.9);
  border: 1px solid #ffdd19;
  border-top-right-radius: 9px;

  font-size: 1.6rem;
  font-weight: 600;
  color: #071b45;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;

  white-space: nowrap;
  margin: 0rem;
  padding: 1.3rem;

  cursor: pointer;

  transition: width 2s;
  transition-timing-function: ease-in-out;
}

.slider-title:hover {
  width: 25rem;
  color: #fdf2f2;
}

/**************************/
/* Featured Project SECTION */
/**************************/

.featured-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5.2rem;
  row-gap: 2.6rem;

  margin: 0 10.8rem 0 6.6rem;
  padding: 7.6rem 13rem;
}

.featured-project {
  box-shadow: 0 -0.1rem 0.7rem rgba(255, 220, 25, 0.3);
  background-color: rgba(7, 27, 69, 0.5);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.featured-project:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 1.5rem rgba(255, 220, 25, 0.25);
}

.feature-content {
  padding: 1.2rem 1.8rem;
}

.feature-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  text-align: center;
}
.feature-txt {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  text-align: center;
}
.feature-img {
  width: 100%;
}

/**************************/
/* FOOTER */
/**************************/
.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(7, 27, 69, 0.9);
  border-top: 1px solid #ffdd19;
  height: 7.8rem;
  padding: 0 4.8rem;
  align-items: center;

  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #ffdd19;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ffdd19;
  transition: all 0.3s;
}

.footer-link:hover,
.social-icon:hover,
.footer-link:active,
.social-icon:active {
  color: #a00000;
}

/**************************/
/*      Project Page      */
/**************************/
.proj-card-flip {
  background-color: transparent;
  width: 21rem;
  height: 31rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
