/*******************************/
/* 01 PAGE HEADER ALL PAGES 01 */
/*******************************/

.header {
  justify-content: space-between;
  background-color: rgba(7, 27, 69, 0.9);
  border-bottom: 1px solid #ffdd19;
  height: 5.6rem;
  padding: 0 4.8rem;
  z-index: 999;
}

/**************************/
/* 02 NAVIGATION BAR 02   */
/**************************/
.myname-nav {
  font-size: 1.6rem;
  margin-right: 3.8rem;
}

.header-nav-list {
  list-style: none;
  gap: 3.8rem;
}

.header-nav-link:link,
.header-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fdf2f2;
  font-size: 1.6rem;
  font-weight: 500;

  /*Animation slows colour transition*/
  transition: all 0.5s;
}

.header-nav-link:hover,
.header-nav-link:active {
  color: #a00000;
}

/***********************/
/* 03 HERO SECTION 03  */
/***********************/
.container-main {
  justify-content: center;
  align-items: center;
  max-width: 168rem;
  min-width: 100rem;
}
.hero {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  min-height: 100vh;
  padding: 2rem;
  margin: 0 2rem;
}

.hero-text-box {
  height: 31rem;
  width: 36rem;
  margin: 0 2.4rem;
  padding: 0.5rem;
  white-space: nowrap;
}
.heading-primary {
  margin: 0rem 6rem;
  font-size: 8rem;
  line-height: 1.05;
  text-transform: uppercase;
}
.hero-job-title {
  font-size: 2.6rem;
  line-height: 1.6;
  margin: 0rem 6rem;
}

/* html links designed to look like and respond like a button*/
.button-box {
  margin: 0rem 6rem;
}

/* main image of the page with txt box */
.hero-img-box {
  position: relative;
  height: 29rem;
  width: 36rem;
  z-index: -1;
  flex: 50%;
}

.hero-img-text {
  background-color: rgba(7, 27, 69, 0.9);
  padding: 5.2rem 0.14rem;
  font-size: 6rem;
  line-height: 1.05;
  text-transform: uppercase;
  color: rgba(255, 220, 25, 0.5);
  position: absolute;
  transform: translate(05%, 12%);
  z-index: -1;
}

.hero-img {
  width: 36rem;
  margin: 0rem 2rem 1rem 0rem;
  float: left;
  z-index: -1;
}

.slider-t {
  margin: 0 1rem 5rem 0;
  padding: 2rem 1rem;
  line-height: 1.2;
  border-radius: 12px;
}
.slides-avatar-img {
  background-image: url(../img/profile-img-one.png);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25rem;
  height: 30rem;
  border: 1px solid transparent;
}
.slider-title {
  width: 5rem;
  height: 4rem;
  border-radius: 12px;

  font-size: 1.6rem;
  font-weight: 600;
  color: #071b45;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;

  white-space: nowrap;
  margin: 0rem 0rem 1.2rem 0rem;

  cursor: pointer;

  transition: width 2s;
  transition-timing-function: ease-in-out;
}

.slider-title:hover {
  width: 25rem;
  color: #fdf2f2;
}

/**************************/
/* Featured Project SECTION */
/**************************/

.featured-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2.2rem;
  row-gap: 2rem;

  justify-content: center;
  align-items: center;
  max-height: 100vh;
  margin: 8rem 6rem;
  padding: 0 2rem;
}
.heading-three-column {
  grid-column: 1 / 3;
  background-color: rgba(7, 27, 69, 0.8);
  width: auto;
  max-width: 75.5%;
  text-align: center;
  justify-content: center;
  min-height: 10rem;

  border-radius: 12px;
  box-shadow: 0 -0.1rem 0.7rem rgba(255, 220, 25, 0.3);
}

.feat-one {
  grid-column: 1 / 2;
  grid-row: 2 / 6;
  max-width: 100%;
  height: 54rem;
  margin-bottom: 2rem;
}
.feat-two {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  max-width: 50%;
  height: 26rem;
}
.feat-three {
  grid-column: 2 / 3;
  grid-row: 4 / 4;
  max-width: 50%;
  height: 26rem;
}

.featured-project {
  box-shadow: 0 -0.1rem 0.7rem rgba(255, 220, 25, 0.3);
  background-color: rgba(7, 27, 69, 0.5);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.featured-project:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 1.5rem rgba(255, 220, 25, 0.25);
}

.feature-content {
  padding: 1.2rem 1.8rem;
}

.feature-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem;
  text-align: center;
}
.feature-txt {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 1rem;
  text-align: center;
}
.feature-img {
  width: 100%;
  height: 40%;
}

/**************************/
/* FOOTER */
/**************************/
.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(7, 27, 69, 0.9);
  border-top: 1px solid #ffdd19;
  height: 5.8rem;
  padding: 0 4.8rem;
  align-items: center;

  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #ffdd19;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  white-space: nowrap;
  margin-right: 3.8rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ffdd19;
  transition: all 0.3s;
}

.footer-link:hover,
.social-icon:hover,
.footer-link:active,
.social-icon:active {
  color: #a00000;
}

/**************************/
/*      Project Page      */
/**************************/

.title-container {
  max-width: 88%;
  padding: 0 3.2rem;
  margin: 7rem auto 2rem auto;
  background-color: rgba(7, 27, 69, 0.8);
  border-radius: 12px;
}
.title-container h1 {
  text-align: center;
  font-size: 3.6rem;
  padding: 1.5rem;
}
.title-container p {
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}
.title-container a {
  font-size: 1.4rem;
  margin: 0;
  padding: 0.2rem;
}
.main-projects-container {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.proj-card-flip {
  background-color: transparent;
  width: 18rem;
  height: 25rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  /*time it takes to spin 180degrees*/
  transition: transform 2s;
  /*without preserve-3d you will only see front of card turn upside down*/
  transform-style: preserve-3d;
  border-radius: 12px;
}

.proj-card-flip:hover .flip-card-inner {
  transform: rotatex(180deg);
}

.flip-card-front,
.flip-card-back {
  overflow-y: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  /*webkit so it will work with Chrome/safari*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotatex(180deg);
}
