/* Header Section */

.header {
  justify-content: space-between;
  background-color: rgba(7, 27, 69, 0.9);
  border-bottom: 1px solid #ffdd19;
  height: 5.6rem;
  padding: 0 4.8rem;
  z-index: 999;
}

/*  Navagation Bar   */

.myname-nav {
  font-size: 1.6rem;
  margin-right: 3.8rem;
}

.header-nav-list {
  list-style: none;
  gap: 3.8rem;
}

.header-nav-link:link,
.header-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fdf2f2;
  font-size: 1.6rem;
  font-weight: 500;

  /*Animation slows colour transition*/
  transition: all 0.5s;
}

.header-nav-link:hover,
.header-nav-link:active {
  color: #a00000;
}

/*  Main Hero Section  */

.main-container-hero {
  width: auto;
  height: 160rem;
  margin: 8rem 2rem;
}

.hero {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 80vh;
  padding: 2rem;
  margin: 8rem 4rem;
}
.hero-img-box,
.hero-text-box,
.avatar-card {
  height: 25rem;
  margin: 0 1rem;
  width: 36rem;
  justify-content: center;
  align-items: center;
}
/* Name and Job Container class and styles*/
.hero-text-box {
  padding: 0.5rem;
  white-space: nowrap;
}
.hero-text-box h1,
.hero-text-box p {
  margin: 0 1.5rem;
}
.hero-text-box h1 {
  font-size: 6rem;
  line-height: 1.05;
  text-transform: uppercase;
}
.hero-text-box p {
  font-size: 2.4rem;
  line-height: 1.8;
}

.feat-btn {
  margin: 1.5rem;
  padding: 1rem 6rem;
}

/*Computer Screen img and text*/
.hero-img-box {
  position: relative;
}
.hero-img-text {
  background-color: rgba(7, 27, 69, 0.9);
  padding: 5.2rem 0.14rem;
  font-size: 6rem;
  line-height: 1.05;
  text-transform: uppercase;
  color: rgba(255, 220, 25, 0.5);
  position: absolute;
  transform: translate(05%, 12%);
}
.hero-img {
  width: 36rem;
  margin: 0rem 2rem 1rem 0rem;
}

/*Avatar card */
.avatar-card {
  width: 17rem;
  padding: 1rem;
}
.avatar-card img {
  width: 15rem;
  height: 15rem;
  padding: 2rem;
}

/*slider section */
.slider-container {
  justify-content: left;
  width: 10rem;
}
.slider-t {
  margin: 0 1rem;
  padding: 2rem 1rem;
  line-height: 1.2;
}
.slides {
  margin-bottom: 0 1rem;
  max-width: 100%;
}
.slider-title {
  width: 5rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #071b45;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 0rem 0rem 1.2rem 0rem;
  padding-top: 0.8rem;
  cursor: pointer;
  transition: width 2s;
  transition-timing-function: ease-in-out;
}
.slider-title:nth-child(5) {
  margin-bottom: 0;
}

.slider-title:hover {
  width: 20rem;
  color: #fdf2f2;
}

/**************************/
/* Featured Project SECTION */
/**************************/

.featured-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;

  justify-content: center;
  align-items: center;
  min-width: 80vw;
  min-height: 80vh;
  margin: 0rem 4rem 10rem 4rem;
  padding: 1rem;
}
.heading-feature {
  grid-column: 1 / 5;
  background-color: rgba(7, 27, 69, 0.9);
  text-align: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 -0.1rem 0.7rem rgba(255, 220, 25, 0.3);
  margin-top: 4rem;
}
.feat-one,
.feat-two,
.feat-three,
.feat-four,
.feat-five {
  max-width: 100%;
  height: 26rem;
}

.feat-one {
  grid-column: 1 / 3;
  grid-row: 2 / 6;
  height: 54rem;
  margin-bottom: 4rem;
}
.feat-two {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.feat-three {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
.feat-four {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
.feat-five {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.featured-project {
  box-shadow: 0 -0.1rem 0.7rem rgba(255, 220, 25, 0.3);
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.featured-project:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 1.5rem rgba(255, 220, 25, 0.25);
}

.feature-content {
  padding: 1.2rem 1.8rem;
}

.feature-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem;
  text-align: center;
}
.feature-txt {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 1rem;
  text-align: center;
}
.feature-img {
  width: 100%;
  height: 40%;
}

/**************************/
/*      Project Page      */
/**************************/
.main-projects-container {
  max-height: 400rem;
  max-width: 100%;
  margin: 6rem 2rem 10rem 2rem;
}
.title-container {
  max-width: 74rem;
  padding: 0.5rem;
  margin: 4rem auto 1rem auto;
  background-color: rgba(7, 27, 69, 0.9);
  border-radius: 12px;
  text-align: center;
}

.title-container h1 {
  font-size: 3.6rem;
  padding: 1.5rem;
}
.title-container p,
.title-container a {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  padding: 0.2rem;
}

.main-projects-container {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.proj-card-flip {
  background-color: transparent;
  width: 18rem;
  max-width: 18rem;
  height: 24rem;
  max-height: 24rem;
}
.flip-card-front,
.flip-card-back,
.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 12px;
}

.flip-card-inner {
  position: relative;
  transition: transform 2s; /*time it takes to spin 180degrees*/
  /*without preserve-3d you will only see front of card turn upside down*/
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  overflow-y: hidden;
  position: absolute;
  /*webkit so it will work with Chrome/safari*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.proj-card-flip:hover .flip-card-inner {
  transform: rotatex(180deg);
}
.flip-card-back {
  transform: rotatex(180deg);
}
/*About me and Contacts page */
/*  Main Hero Section  */

.main-container-aboutMe {
  width: auto;
  height: 160rem;
  margin: 8rem 2rem;
}

.aboutMe-hero {
  padding: 2rem;
  margin: 8rem 4rem;
}

/* Name and Job Container class and styles*/
.aboutMe-profile-box {
  width: 30rem;
  height: 50rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
}

.aboutMe-profile-box h1 {
  font-size: 6rem;
  line-height: 1.05;
  text-transform: uppercase;
}
.aboutMe-profile-box p {
  font-size: 2.4rem;
  line-height: 1.8;
}
.pic-frame {
  overflow: hidden;
  width: 21rem;
  height: 27rem;
  margin: 2rem 3.7rem;
}
.pic-frame img {
  width: 100%;
  height: 100%;
}
.myDetails-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 1rem;
}
/*Avatar card */
.aboutMe-card {
  text-align: center;
  padding: 1rem;
  margin: 2rem 1.5rem;
}
.aboutMe-card h2 {
  color: #ffdd19;
  padding-bottom: 2rem;
  font-size: 2rem;
}
.aboutMe-card p {
  font-size: 1.4rem;
}
#info-one {
  width: 40rem;
  height: 20rem;
}
#info-two {
  width: 26rem;
  height: 20rem;
}
#info-three {
  width: 20rem;
  height: 20rem;
}
#info-four {
  width: 20rem;
  height: 20rem;
}
#info-five {
  width: 23rem;
  height: 20rem;
}

/* FOOTER SECTION*/

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(7, 27, 69, 0.9);
  border-top: 1px solid #ffdd19;
  height: 5.8rem;
  padding: 0 4.8rem;
  align-items: center;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #ffdd19;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  white-space: nowrap;
  margin-right: 3.8rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #ffdd19;
  transition: all 0.3s;
}

.footer-link:hover,
.social-icon:hover,
.footer-link:active,
.social-icon:active {
  color: #a00000;
}
